<div>
<div class = "navStyle navbar navbar-default">
    <div class = "col-md-8">
        <div class = "navbar-header" style="position:absolute; margin-top: -1%;">
            <a href = "#" class = "navbar-brand">JAINAM</a>
        </div>
        <ul class = "nav navbar-nav" style="padding-left: 100px; flex-direction: initial !important;">
            <li class="pdR-3"><a href = "#">Home</a></li>
            <li class="pdR-3"><a href = "#">About</a></li>
            <li class="pdR-3"><a href = "#">Careers</a></li>
            <li class="pdR-3"><a href = "#">Contacts</a></li>
        </ul>
    </div>
</div>

<div>
    <img src= 'assets/img1.jpg'>
</div>
</div>